.btn-wrapper {
	max-width: 305px;
    margin: 0 auto 52px;
    @media #{$mobile} {
        margin-bottom: 20px;
    }
    &--decor-st-page {
        max-width: 630px;
        text-align: right;
    }
}

.btn {
	@include rob-reg(16px, 40px);
    border-radius: 50px;
    text-align: center;
}

.btn-send {
    display: inline-block;
    margin: 0 auto;
    width: 165px;
    height: 40px;
    line-height: 40px;
    color: #fff;
	background: #3869b8;
    &--indent-binary {
        margin: 0 10px 0 3px ;
    }
    &--indent {
        margin: 0 9px 0 5px;
    }
    &:hover {
        background: #4f7ec9;
    }
    &:active {
        background: #2f5899;
    }
    &--disabled {
        pointer-events: none;
        cursor: default;
        background: #e4e5e8;
        color: #8c91a0;
    }
    //state classes
    &--hover {
        background: #4f7ec9;
    }
    &--active {
        background: #2f5899;
    }
    &--width-st-page {
        width: 100px;
        margin: 5px 0;
    }
    &--width-st-page {
        width: 100px;
        margin: 5px 0;
    }
}

.btn-try {
	display: inline-block;
    margin: 0 auto;
    width: 120px;
    height: 40px;
    line-height: 40px;
    color: #fff;
	background: #38b849;
    &:hover {
        background: #4fc95f;
    }
    &:active {
        background: #2f993d;
    }
    &--disabled {
        pointer-events: none;
        cursor: default;
        background: #e4e5e8;
        color: #8c91a0;
    }
     //state classes
    &--hover {
        background: #4fc95f;
    }
    &--active {
        background: #2f993d;
    }
    &--width-st-page {
        width: 100px;
        margin: 5px 0;
    }
    &--width-st-page {
        width: 100px;
        margin: 5px 0;
    }
    // diff width
    &--width-st-page {
        width: 100px;
        margin: 5px 0;
    }
    &--width-binary {
        margin-bottom: 69px;
        width: 160px;
    }
    &--width {
        width: 165px;
    }
    &--geo {
        width: 170px;
    }
    &--width-andr {
        margin-right: 5px;
        width: 225px;
    }
}

.btn-details {
	display: inline-block;
    width: 140px;
    height: 40px;
    line-height: 40px;
    border: 2px solid #9fb5da;
    color: #9fb5da;
    background: transparent;
    &:hover {
        border: 2px solid #cdd9ed;
        color: #cdd9ed;
    }
    &:active {
        background: #6a8fca;
        border: 2px solid #6a8fca;
    }
    &--disabled {
        pointer-events: none;
        cursor: default;
        border: 2px solid #567fc3;
    }
    //state classes
    &--hover {
        border: 2px solid #cdd9ed;
        color: #cdd9ed;
    }
    &--active {
        background: #6a8fca;
        border: 2px solid #6a8fca;
    }
    &--width-st-page {
        width: 100px;
        margin: 5px;
    }
}

.btn-submit {
    display: inline-block;
    margin: 5px auto 25px;
    width: 150px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    border: none;
    color: #fff;
	background: #3869b8;
    outline: none;
    &:hover {
        background: #4f7ec9;
    }
    &:active {
        background: #2f5899;
    }
    &--disabled {
        pointer-events: none;
        cursor: default;
        background: #e4e5e8;
        color: #8c91a0;
    }
    &--narrow {
        width: 122px; // for standart page
    }
}

.btn-cansel {
    display: inline-block;
    margin: 10px auto 20px;
    width: 122px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    border: none;
    color: #fff;
	background: #8c91a0;
    &:hover {
        background: #a4a8b4;
    }
    &:active {
        background: #797f90;
    }
    &--disabled {
        pointer-events: none;
        cursor: default;
        background: #e4e5e8;
        color: #8c91a0;
    }
    //state classes
    &--hover {
        background: #a4a8b4;
    }
    &--active {
        background: #797f90;
    }
    &--width-st-page {
        width: 100px;
        margin: 5px 0;
    }
}

.btn-discuss {
	display: block;
    margin: 45px auto 100px;
    max-width: 360px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    border: 2px solid #c3c5cd;
    color: #3869b8;
    @media #{$mobile} {
        margin: 30px auto 20px;
        font-size: 14px;
    }
    &--width-st-page {
        width: 100px;
        margin: 10px 0;
    }
}

.btn-type-1 {
    display: inline-block;
    width: 150px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    border: 2px solid #c3c5cd;
    background: #fff;
    color: #3869b8;
    &:hover {
        border: 2px solid #c9d8ef;
    }
    &:active {
        background: #c9d8ef;
        border: 2px solid #c9d8ef;
    }
    &--disabled {
        pointer-events: none;
        cursor: default;
        background: #e4e5e8;
        border: 2px solid #e4e5e8;
        color: #8c91a0;
    }
    //state classes
    &--hover {
        border: 2px solid #c9d8ef;
    }
    &--active {
        background: #c9d8ef;
        border: 2px solid #c9d8ef;
    }
    &--width-st-page {
        width: 100px;
        margin: 5px 0;
    }
    &--width-st-page {
        width: 100px;
        margin: 5px 0;
    }
    &--width-st-page {
        width: 100px;
        margin: 5px 0;
    }
}

.btn-square {
	display: inline-block;
    margin: 10px 0;
    width: 75px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    border-radius: 4px;
    background: #e4e5e8;
    color: #fff;
    @media #{$mobile} {
        margin: 30px auto 20px;
        font-size: 14px;
    }
    &:hover {
        background: #c9d8ef;
    }
    &:active {
        background: #aac2e6;
    }
    &--disabled {
        pointer-events: none;
        cursor: default;
        background: #e4e5e8;
        border: 2px solid #e4e5e8;
        color: #8c91a0;
    }
    //state classes
    &--hover {
        background: #c9d8ef;
    }
    &--active {
        background: #aac2e6;
    }
    &--width-st-page {
        width: 100px;
        margin: 10px 0;
    }
}

.btn-kit {
    display: inline-block;
    margin: 0 10px;
    width: 100px;
    span {
        display: block;
        margin: 35px 0;
        @include rob-italic(14px, 14px);
        color: #8c91a0;
        
    }
}

.btn-kit-tr {
    display: inline-block;
    margin: 0 10px;
    width: 100px;
}

.fill {
    width: 120px;
    background: #3869b8;
    text-align: center;
}