.appeal {
    position: relative;
    min-height: 600px;
    border-top: 1px solid transparent;
	background: #f4f4f6;
    overflow: hidden;
    &--bg-none {
        position: static;
        max-width: 450px;
        height: 370px;
        background: none; // for standart page
    }
    @media #{$mobile} {
        text-align: center;
    }
    &::before {
        position: absolute;
            content: '';
            right: 165px;
            bottom: 106px;
            width: 10px;
            height: 19px;
            background: url("../img/form-arr-right.png") 0 0 no-repeat;
            z-index: 5;
        @media #{$mobile} {
            z-index: -10;    
        }
    }
    &__form {
        position: relative;
        display: inline-block;
        margin-top: 60px;
        margin-bottom: 40px;
        margin-right: 5%;
        margin-left: 10%;
        padding: 20px 20px 0;
        width: 50%;
        text-align: center;
        background: #fff;
        box-shadow: 0 8px 25px 3px #e8e8ea;
        &--decor-st-page { // for standart page
            margin: 0;
            padding: 0;
            width: auto;
            text-align: left;
            box-shadow: none;
        }
        @media #{$mobile} {
            margin: 20px 0;
            padding: 20px 10px 0;
            width: 90%;
            text-align: center;
            
        }
        &::before {
            position: absolute;
            content: '';
            margin-left: -15px;
            bottom: -20px;
            left: 50%;
            width: 30px;
            height: 20px;
            background: url("../img/form-bottom-arr.png") 0 0 no-repeat;
            z-index: 1;
        }
        & input[type="text"],
          input[type="tel"],
          input[type="email"] {
              @include rob-reg(16px, 16px);
              padding-left: 10px;
              width: 300px;
              height: 40px;
              margin: 5px 0;
              text-align: left;
              border: 1px solid #e4e5e8;
              color: #8c91a0;
              box-sizing: border-box;
              &:hover {
                  cursor: pointer;
              }
              &:focus {
                  @include rob-reg(16px, 16px);
                  border: 1px solid #c9d8ef;
                  color: #333333;
                  outline: none;
              }
              @media #{$mobile} {
                  width: 100%;
              }
        }
        & textarea {
            @include rob-reg(16px, 16px);
            padding-left: 10px;
            padding-top: 10px;
            margin-top: 5px;
            max-width: 450px;
            height: 110px;
            width: 100%;
            resize: none;
            border: 1px solid #e4e5e8;
            color: #8c91a0;
            &:hover {
                  cursor: pointer;
              }
              &:focus {
                  @include rob-reg(16px, 16px);
                  border: 1px solid #c9d8ef;
                  color: #333333;
                  outline: none;
              }
            @media #{$mobile} {
                max-width: 100%;
            }
        }
    }
    &__inputs-wrapper {
        text-align: left;
        @media #{$mobile} {
            text-align: center;
        }
    }
    &__descr {
        display: inline-block;
        margin-top: 170px;
        width: 34%;
        vertical-align: top;
        @media #{$mobile} {
            margin-top: 30px;
            width: auto;
        }
    }
    &__title {
        @include rob-reg(34px, 39px);
        color: #333333;
    }
    & p {
        @include rob-reg(16px, 22px);
        width: 75%;
        color: #8c91a0;
        @media #{$mobile} {
            padding: 10px;
            width: auto;
        }
    }
    &__list {
        position: relative;
        margin-left: 3%;
//        height: 80px;
        @media #{$mobile} {
            margin-left: 0;
        }
        &::before {
            position: absolute;
            content: '';
            top: 25%;
            right: 65%;
            width: 100%;
            height: 3px;
            border-bottom: 3px solid #7096d4;
            @media #{$mobile} {
                border: none;
            }
        }
        &::after {
            position: absolute;
            content: '';
            top: 25%;
            left: 35%;
            width: 70%;
            height: 3px;
            border-bottom: 3px dotted #c3c5cd;
            @media #{$mobile} {
                border: none;
            }
        }
    }
    &__item {
        @include rob-reg(17px, 16px);
        position: relative;
        display: inline-block;
        margin-right: 17%;
        padding-top: 60px;
        color: #8c91a0;
        @media #{$mobile} {
            margin: 15px;
            width: 100px;
        }
        &--active {
            color: #3869b8;
        }
        &:last-child {
            margin-right: 0;
            @media #{$mobile} {
                margin-right: 15px;
            }
        }
        &--active {
            &::before {
                position: absolute;
                content: '';
                margin-left: -25px;
                left: 50%;
                top: 0;
                width: 45px;
                height: 45px;
                border: 3px solid #7096d4;
                background: #f4f4f6;
                border-radius: 50%;
                z-index: 1;
        }
    }
        &--disactive {
            &::before {
                position: absolute;
                content: '';
                margin-left: -25px;
                left: 50%;
                top: 0;
                width: 45px;
                height: 45px;
                border: 3px solid #c3c5cd;
                background: #f4f4f6;
                border-radius: 50%;
                z-index: 1;
        }
    }

        
    }
    &__icon-1 {
        &::after {
            position: absolute;
            content: '';
            margin-left: -10px;
            left: 50%;
            top: 15px;
            width: 22px;
            height: 22px;
            background: url("../img/form-ic-1.png") 0 0 no-repeat;
            z-index: 5;
        }
    }
    &__icon-2 {
        &::after {
            position: absolute;
            content: '';
            margin-left: -13px;
            left: 50%;
            top: 16px;
            width: 28px;
            height: 22px;
            background: url("../img/form-ic-2.png") 0 0 no-repeat;
            z-index: 5
        }
    }
    &__icon-3 {
        &::after {
            position: absolute;
            content: '';
            margin-left: -14px;
            left: 50%;
            top: 14px;
            width: 30px;
            height: 26px;
            background: url("../img/form-ic-3.png") 0 0 no-repeat;
            z-index: 5
        }
    }
    &__icon-4 {
        &::after {
            position: absolute;
            content: '';
            margin-left: -14px;
            left: 50%;
            top: 15px;
            width: 30px;
            height: 26px;
            background: url("../img/form-ic-4.png") 0 0 no-repeat;
            z-index: 5
        }
    }
}


 
//        &::after {
//            
//        }