.crm {
    text-align: center;
    & h2 {
        @include rob-light(40px, 49px);
        margin: 94px 0 12px;
        color: #333333;
        @media #{$mobile} {
            margin: 0 0 15px 0;
            font-size: 20px;
            line-height: 25px;
        }
    }
    & p {
        @include rob-reg(14px, 20px);
        margin-bottom: 51px;
        color: #8c91a0;
        opacity: 1;
        @media #{$mobile} {
            margin-bottom: 0;
        }
    }
    & img {
        display: block;
        margin: 0 auto;
    }
}