.text-formating,
.text-decoration,
.elements {
    border-bottom: 1px solid #e4e5e8;
    padding: 0 5px;
}

.text-formating {
    padding-bottom: 38px;
}

.text-decoration {
    padding-bottom: 62px;
}


.standart-page__left {
    display: inline-block;
    margin-top: 100px;
    padding-right: 35px;
    width: 68.4%;
    vertical-align: top;
    @media #{$mobile} {
        padding: 0 15px;
        width: auto;
    }
     @media #{$tablet} {
        padding: 0 15px;
//        width: auto;
    }
}

// Right column, navigation

.standart-page__right {
    float: right;
    margin-top: 67px;
    width: 29%;
//    font-size: 0;
//    height: 100px;
    vertical-align: top;
    @media #{$mobile} {
        display: block;
        float: none;
        text-align: center;
        width: auto;
    }
}

.aside {
    margin: 40px 0;
    max-width: 300px;
    height: 400px;
    background: #f4f4f6;
    @media #{$mobile} {
            margin: 40px auto;
        }
}

.nav-aside {
    border-top: 1px solid transparent;
    margin-bottom: 50px;
    border-left: 1px solid #e4e5e8;
    @media #{$mobile} {
            margin-top: 30px;
        }
    & h3 {
        padding-left: 20px;
        @media #{$mobile} {
            padding-left: 0;
        }
    }
    & a {
        @include rob-reg(14px, 16px);
        display: block;
        margin-bottom: 24px;
        padding-left: 37px;
        color: #3869b8;
        @media #{$mobile} {
            padding-left: 0;
        }
        &:hover {
            text-decoration: underline;
        }
    }
}

.headlines {
    margin-bottom: 34px;
    padding-bottom: 35px;
    border-bottom: 1px solid #e4e5e8;
}

.lead {
    margin-top: -17px;
    p {
    @include rob-light(20px, 24px);
    color: #8c91a0;
} 
}    
 

.standart {
    margin-top: 16px;
    &--mt-1 {
        margin-top: -9px;
    }
    &--mt-2 {
        margin-top: -7px;
    }
    &--mt-3 {
        margin-top: -9px;
    }
    
    &--mt-4 {
        margin-top: -10px;
    }
    &--mt-5 {
        margin-top: -20px;
    }
    &--mt-6 {
        margin-top: -8px;
    }
    
    &--mt-7 {
        margin-top: -11px;
    }
    
    &--mt-8 {
        margin-top: -12px;
        margin-bottom: 14px;
    }
    &--mt-9 {
        margin-top: -11px;
    }
    &--mt-10 {
        margin-top: -13px;
    }
    &--mt-11 {
        margin-top: 18px;
    }
    &--mt-12 {
        margin-top: -9px;
    }
    p {
    @include rob-reg(14px, 24px);
    color: #333333;
}
} 

.comment {
    &--indent {
        margin-top: -8px;
    }
 p {
    @include rob-italic(14px, 24px);
    color: #8c91a0;
}
}

.important {
    &--indent {
        margin-top: -9px;
        margin-left: -3px;
        max-width: 620px;
    }
 p {
    @include rob-italic(14px, 24px);
    padding: 12px 23px;
    color: #d45884;
    background: #fceef3;
}
}

.head-1 {
    margin-top: -35px;
    h1 {
    @include rob-light(40px, 50px);
    color: #333333;
  }
} 

.head-2 {
    &--indent {
        margin-top: 30px;
    }
    &--indent-2 {
        margin-top: 34px;
        margin-left: -2px;
    }
    &--indent-3 {
        margin-top: 74px;
        margin-left: -2px;
    }
    margin-top: 32px;
    h2 {
    @include rob-light(30px, 36px);
    color: #8c91a0;
    }
}

.head-3 {
    padding-left: 15px;
    &--indent {
        margin-top: -10px;
    }
    &--indent-top {
        margin-top: -11px;
        margin-left: -2px;
    }
    &--indent-top-1 {
        margin-top: 42px;
        margin-left: -3px;
    }
    &--indent-2 {
        margin-top: 31px;
        margin-left: -3px;
    }
    &--indent-3 {
        margin-top: 31px;
        margin-left: -3px;
    }
    &--indent-4 {
        margin-top: 35px;
        margin-left: -1px;
    }
    &--indent-5 {
        margin-top: 33px;
        margin-left: -2px;
    }
    &--indent-6 {
        margin-top: -15px;
        margin-left: -2px;
    }
    &--indent-7 {
        margin-top: 35px;
        margin-left: -2px;
    }
    &--indent-8 {
        margin-top: 37px;
    }
    &--indent-9 {
        margin-top: -13px;
    }
    &--indent-10 {
        margin-top: 60px;
    }
    margin-top: 33px;
	h3 {
    @include rob-light(20px, 25px);
    color: #8c91a0;
    }
}

.head-4 {
    &--indent {
        margin-top: -5px;
    }
    margin-top: 32px;
	h4 {
    @include rob-light(16px, 20px);
    color: #8c91a0;
}
}

.head-5 {
    &--indent {
        margin-top: -14px;
        margin-left: -3px;
    }
    &--indent-top {
        margin-top: 32px;
    }
    &--indent-top-1 {
        margin-top: 36px;
    }
    &--indent-top-2 {
        margin-top: 36px;
    }
    margin-top: 31px;
    margin-left: -2px;
    h5 {
    @include rob-bold(14px, 18px);
    color: #333333;
}
}


h6 {
    @include rob-bold(14px, 18px);
    color: #8c91a0;
}

.main-menu {
    &--indent {
        margin-top: -11px;
        margin-left: 13px;
    }
    &--indent-2 {
        margin-top: -10px;
        margin-left: 13px;
    }
}

.main-menu > li {
    @include rob-reg(14px, 22px);
    margin: 20px 0 0;
    padding-left: 5px;
    list-style-image: url("../img/dot-for-list.png");
    color: #333333;    
}

.small-menu > li {
    @include rob-reg(14px, 22px);
    margin: 20px 0 -9px;
    padding-left: 5px;
    list-style-image: url("../img/dot-for-list.png");
    color: #333333;
}

.sub-menu li {
    @include rob-reg(14px, 21px);
    margin: 15px 0 15px 25px;
    margin-bottom: -6px;
    padding-left: 3px;
    list-style-image: url("../img/dot-border-for-list.png");
    color: #8c91a0;
    
}

.numb-menu {
    &--indent {
        margin-top: -8px;
        padding-left: 13px;
    }
}

.numb-menu > li {
    @include rob-reg(14px, 20px);
    margin-top: 24px;
    padding-left: 5px;
    list-style-type: decimal;
    color: #333333;
}

.numb-menu > li.note {
    @include rob-reg(12px, 16px);
    margin: 15px 0 0 -30px;
    padding-left: 9px;
    color: #8c91a0;
}

.sub-menu {
    &--indent {
        margin-top: 19px;
        margin-left: -8px;
    }
}

.sub-numb li {
    @include rob-reg(14px, 20px);
    margin: 20px 0 -8px -24px;
    padding-left: 5px;
    list-style-type: lower-alpha;
    color: #8c91a0;
}

sup,
sub,
sup a {
    @include rob-reg(10px, 10px);
    color: #8c91a0;
}

.address-menu {
    &--indent {
        margin-top: -45px;
    }
    &__kiev {
        margin-left: 10px;
    }
}

.address-menu > li {
    @include rob-reg(14px, 18px);
    display: inline-block;
    margin: 10px 50px 10px 0;
    vertical-align: top;
    list-style: none;
    color: #333333;
    &:last-child {
        margin-right: 0;
    }
}

.sub-address li {
    @include rob-reg(14px, 18px);
    margin: 6px 0;
    list-style: none;
    color: #8c91a0;
    &:first-of-type {
        margin-top: -12px;
    }
}

blockquote {
    @include rob-light(16px, 26px);
    position: relative;
    margin: 13px 0;
    padding: 13px 20px;
    color: #8c91a0;
    background: #f4f4f6;
    &::before {
        position: absolute;
        content: '';
        right: 20px;
        bottom: -8px;
        width: 10px;
        height: 8px;
        background: url("../img/cite-arr.png") 0 0 no-repeat;
    }
}

cite {
    @include rob-italic(14px, 18px);
    padding: 6px 0;
    float: right;
    color: #8c91a0;
}

.img-sign {
    &--big {
        max-width: 960px;
    }
    &--med {
        margin-top: 19px;
        max-width: 630px;
    }
    &--small {
        margin-top: 21px;
        max-width: 300px;
    }
}

.sign {
    @include rob-italic(14px, 18px);
    display: block;
    margin: 11px 0;
    text-align: right;
    color: #8c91a0;
}

// table styles

.table-wrapper {
    max-width: 630px;
    margin-bottom: 20px;
}
.table {
    width: 100%;
    border-collapse: collapse;
    &__head {
        @include rob-reg(14px, 18px);
        color: #8c91a0;
    }
    & tr {
        @include rob-reg(14px, 24px);
        height: 40px;
        border-bottom: 1px solid #e4e5e8;
        &:nth-child(odd) {
            background: #f9f9fb;
        }
        &:hover {
            background: #eff3fb;
            cursor: pointer;
        }
    }
    & td {
        &:nth-child(1) {
            width: 8%;
            text-align: center;
        }
        &:nth-child(2) {
            padding-left: 30px;
            width: 20%;
        }
        &:nth-child(3) {
            width: 20%;
            padding-left: 24px;
        }
         &:nth-child(4) {
            width: 15%;
             padding-left: 16px;
        }
         &:nth-child(5) {
            margin-right: 3%;
            width: 10%;
            text-align: center;
        }
         &:nth-child(6) {
            width: 17%;
             text-align: center;
        }
    }
}

.table-short {
    margin-top: 38px;
    & td {
        &:nth-child(3) {
            padding: 5px 0;
            width: 65%;
            @media #{$mobile} {
        padding-left: 15px;
    }
        }
    }
    
}

// tabs styles

.tabs {
    position: relative;
    max-width: 630px;
//    height: 100px;
    @media #{$mobile} {
        text-align: center;
    }
    &--indent {
        margin-top: 36px;
    }
    &::before {
        position: absolute;
        content: '';
        top: 38px;
        left: 0;
        width: 100%;
        border-bottom: 1px solid #e4e5e8;
        @media #{$mobile} {
            content: none;
        }
    }
    & input {
    display: none;
    &:checked + label {
        border-bottom: 3px solid #5180ca;
    }
}
    input[id="tab-1"]:checked ~ .content .tab-1,
    input[id="tab-2"]:checked ~ .content .tab-2,
    input[id="tab-3"]:checked ~ .content .tab-3,
    input[id="tab-4"]:checked ~ .content .tab-4,
    input[id="tab-5"]:checked ~ .content .tab-5 {
        display: block;
    }
 

 label {
    @include rob-light(16px, 20px);
    display: inline-block;
    padding: 0 15px 15px 15px;
    cursor: pointer;
     color: #8c91a0;
     &:hover {
         color: #3869b8;
     }
}

.content {
    position: relative;
   & article {
       @include rob-light(16px, 20px);
       position: absolute;
       display: none;
       padding: 25px 0;
       top: 0;
       left: 0;
       width: 100%;
        }
    }
}

// pagination

.pagination {
    margin-top: 40px;
    padding-bottom: 18px;
    max-width: 630px;
    text-align: center;
    border-bottom: 1px solid #e4e5e8;
    & .pag li {
    display: inline-block;
    & a {
        @include rob-light(16px, 16px);
        padding: 0 10px 15px 15px;
        color: #8c91a0;
        @media #{$mobile} {
            padding-left: 0;
            font-size: 12px;
            padding: 0 8px 15px 12px;
        }
        &:hover {
            color: #5c84c5;
        }
    }
    & .active {
        color: #393939;
        border-bottom: 3px solid #5c84c5;
    }
  }
}

// dropdown menu

.menu-wrapper-top {
    display: inline-block;
    margin-bottom: 20px;
}

.menu-wrapper {
    display: inline-block;
    margin-right: 30px;
    height: 250px;
}

.menu {
    & > li {
        position: relative;
    }
    & .menu-dropdown {
        display: block; // change to "none" !
        position: absolute;
        top: 40px;
        text-align: left;
        z-index: 10;
        & li:hover {
            background: #3869b8;
        }
        & a {
            @include rob-reg(14px, 40px);
            display: block;
            padding-left: 10px;
            height: 40px;
            color: #000;
            &:hover {
                color: #fff;
            }
        }
        &--decor-1-drop {
            width: 225px;
            background: #fff;
            box-shadow: 0 2px 20px -2px #9d9ea1;
        }
        &--decor-2-drop {
            width: 160px;
            background: #fff;
            box-shadow: 0 2px 20px -2px #9d9ea1;
        }
    }
    & > li:hover .menu-dropdown {
        display: block;
    }
    &--decor-1-top  {
        @include rob-reg(16px, 16px);
        position: relative;
        width: 225px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 50px;
        background: #8e93a2;
        color: #fff;
        &::before {
            position: absolute;
            content: '';
            top: 13px;
            right: 10px;
            width: 16px;
            height: 16px;
            background: url("../img/list-arr.png") 0 0 no-repeat;
            
        }
        &:hover {
            background: #797f90;
            &::before {
                transform: rotate(180deg);
            }
        }
    }
    &--decor-2-top {
        @include rob-reg(14px, 14px);
        position: relative;
        width: 160px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 50px;
        background: #fff;
        color: #3869b8;
         &:before {
            position: absolute;
            content: '';
            top: 11px;
            right: -10px;
            width: 16px;
            height: 16px;
            background: url("../img/list-arr-blue.png") 0 0 no-repeat;
        }
        &:hover {
            &::before {
                transform: rotate(180deg);
            }
        }
    }
}

// select-1 -------------------------------------------------

.select-1 {
    display: inline-block;
    width: 225px;
    & .selectric {
        @include rob-reg(16px, 16px);
        padding-left: 20px;
        border-radius: 50px;
        background: #8e93a2;
        color: #fff;
        &:hover {
            background: #797f90;
        }
        & .button:after {
            border-top-color: #fff;
        }
        &-hover {
            & .selectric {
                & .button:after {
                    border-top-color: #fff;
                    transform: rotate(180deg);
                }
            }  
        }
    }
     & .selectric-items li {
            @include rob-reg(14px, 20px);
             padding-left: 25px;
             color: #333333;
    }
}

// select-2 -------------------------------------------------

.select-2 {
    display: inline-block;
    width: 160px;
    & .selectric {
        @include rob-reg(14px, 16px);
        border-radius: 50px;
        background: transparent;
        color: #3869b8;
        border: none;
        & .button {
            right: -18px;
        }
        & .button:after {
            border-top-color: #3869b8;
        }
        &-hover {
            & .selectric {
                & .button:after {
                    border-top-color: #3869b8;
                    transform: rotate(180deg);
                }
            }  
        }
    }
     & .selectric-items li {
            @include rob-reg(14px, 20px);
         width: 160px;
             padding-left: 15px;
             color: #333333;
    }
}

// accordion -------------------------------------------------

.accordion {
    & h3 {
        @include rob-light(14px, 16px);
        color: #3869b8;
        &:focus {
            outline: none;
        }
    }
    & p {
        @include rob-reg(14px, 24px);
        padding: 10px 0;
        color: #8c91a0;
    }
}


// checkboxes -------------------------------------------------

.checkboxes,
.radio {
    display: inline-block;
    margin-right: 30px;
}

.wrap-check {
    width: 130px;
    margin: 10px 0;
    padding-left: 14px;
    &--indent {
        margin-left: -14px;
        @media #{$mobile} {
            width: 40px;
            margin-left: 0;
            padding-left: 0;
    }
    }
	label {
        @include rob-reg(14px, 14px);
        position: relative;
        color: #333333;
    }
    input {
        display: none;
    }
    
    label::before {
        display: inline-block;
        margin-right: 20px;
        content: '';
        width: 16px;
        height: 16px;
        border: 1px solid #c3c5cd;
        vertical-align: middle;
    }
    input:checked + label:before {
        background: #4f7ec9;
        border: 1px solid #4f7ec9;
    }
    input:checked + label::after {
        display: inline-block;
        position: absolute;
        content: '';
        left: 4px;
        top: 6px;
        width: 11px;
        height: 8px;
        vertical-align: middle;
        background: url("../img/check-ic.png") 0 0 no-repeat;
    }
    
    input.focus + label::before {
        background: #4f7ec9;
        border: 1px solid #4f7ec9;
    }
    
    input:disabled + label::before {
        cursor: not-allowed;
        background: #c3c5cd;
    }
}

//radiobutton -------------------------------------------------

.wrap-radio {
    width: 110px;
    margin-bottom: 10px;
    label {
        @include rob-reg(14px, 14px);
        position: relative;
        cursor: pointer;
        color: #333333;
    } 
    input {
        display: none;
    }
    label::before {
        display: inline-block;
        margin-right: 20px;
        content: '';
        width: 16px;
        height: 16px;
        border: 1px solid #c6c8d0;
        vertical-align: middle;
        border-radius: 50%;
    }
    input:checked + label:before {
        border: 1px solid #4f7ec9;
        background: #4f7ec9;
    }
    input:checked + label::after {
        display: inline-block;
        position: absolute;
        content: '';
        left: 5px;
        top: 5px;
        width: 8px;
        height: 8px;
        background: #fff;
        border-radius: 50%;
        vertical-align: middle;
    }
    input.focus + label::before {
        background: #4f7ec9;
        border: 1px solid #4f7ec9;
    }
    
    input:disabled + label::before {
        cursor: not-allowed;
        background: #c3c5cd;
    }
}

// pallete -------------------------------------------------

.square {
    display: inline-block;
    margin-right: -4px;
    width: 50px;
    height: 50px;
}

.pallete div {
    margin-top: -2px;
}

.light-gray-1 {
    background: #f4f4f6;
}
.light-gray-2 {
    background: #f5f4f6;
}
.light-gray-3 {
    background: #e4e5e8;
}
.light-gray-4 {
    background: #e5e3e9;
}
.light-gray-5 {
    background: #c3c5cd;
}
.light-gray-6 {
    background: #c6c1cf;
}
.medium-gray-1 {
    background: #8c91a0;
}
.light-violet-1 {
    background: #9289a3;
}
.light-blue-1 {
    background: #c9d8ef;
}
.light-blue-2 {
    background: #6d94d3;
}

.deep-gray-1 {
    background: #5b5d6c;
}
.deep-violet-1 {
    background: #605870;
}
.medium-blue-2 {
    background: #4f7ec9;
}


.deep-gray-2 {
    background: #494b57;
}
.deep-violet-2 {
    background: #4d465a;
}
.medium-blue-3 {
    background: #3869b8;
}
.green {
    background: #38b849;
}

.deep-black {
    background: #2e3036;
}
.deep-violet-3 {
    background: #302c38;
}
.deep-blue {
    background: #2f5899;
}