.footer {
    margin-top: 19px;
	min-height: 380px;
    line-height: 378px;
    border-bottom: 1px solid #e4e5e8;
    @media #{$mobile} {
        margin-top: 20px;
        text-align: center;
    }
    @media #{$tablet} {
            padding: 0 5px;
        }
    &__wrapper {
        display: inline-block;
        max-width: 960px;
        width: 100%;
        line-height: normal;
        vertical-align: middle;
    }
    &__products {
        display: inline-block;
        margin-top: -14px;
        width: 144px;
        vertical-align: top;
        margin-right: 6%;
        &:last-child {
            margin-right: 0;
        }
        @media #{$tablet} {
            margin-right: 4px;
        }
    }
    &__solutions {
        display: inline-block;
        margin-top: -14px;
        width: 144px;
        vertical-align: top;
        margin-right: 5.8%;
        &:last-child {
            margin-right: 0;
        }
    }
    &__about {
        display: inline-block;
        margin-top: -14px;
        width: 144px;
        vertical-align: top;
        margin-right: 5.6%;
        &:last-child {
            margin-right: 0;
        }
    }
    &__contacts {
        display: inline-block;
        margin-top: -14px;
        width: 144px;
        vertical-align: top;
        margin-right: 5.9%;
        &:last-child {
            margin-right: 0;
            @media #{$mobile} {
                margin: 15px;
            }
        }
    }
    &__language {
        display: inline-block;
        margin-top: -14px;
        width: 144px;
        vertical-align: top;
        @media #{$tablet} {
            margin-top: 0;
        }
    }
    &__item {
        @include rob-reg(11px, 19px);
        color: #333333;
        margin-bottom: 5px;
//        &:first-child {
//            margin-bottom: 10px;
//        }
        @media #{$mobile} {
            margin: 15px;
        }
        & a {
            @include rob-reg(12px, 19px);
            color: #3869b8;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__cont {
        @include rob-reg(12px, 19px);
        color: #8c91a0;
        @media #{$mobile} {
            display: block;
        }
    }
    &__title {
        @include rob-reg(16px, 16px);
        padding-bottom: 13px;
        margin-bottom: 10px;
        border-bottom: 1px solid #e4e5e8;
        color: #333333;
    }
    &__sub {
        display: none;
    }
}