.geography {
    position: relative;
    margin-bottom: 3px;
    height: 770px;
    text-align: center;
    background: url("../img/geography-bg.png") center no-repeat;
    background-size: cover;
    @media #{$mobile} {
        margin-bottom: 0;
        height: 480px;
        background: url("../img/geography-bg.png") center no-repeat;
        background-size: cover;
    }
    & h2 {
        @include rob-light(30px, 20px);
        margin: 113px 0 20px;
        color: #333;
        @media #{$mobile} {
            margin: 20px 0;
        }
    }
    & p {
        @include rob-light(20px, 20px);
        color: #8c91a0;
    }
    &__country {
        @include rob-light(30px, 30px);
        position: absolute;
        bottom: 108px;
        left: 48%;
        color: #333333;
        &::before {
            position: absolute;
            content: '';
            bottom: 3px;
            left: -40px;
            width: 20px;
            height: 30px;
            background: url(../img/geogrphy-ic.png) 0 0 no-repeat;
        }
    }
}