.header {
    height: 700px;
    margin-bottom: 70px;
    background: url("../img/header-bg.jpg") center center no-repeat;
    background-size: cover;
    &--binare-bg {
        margin-bottom: 0;
        background: url("../img/binare-bg.jpg") center center no-repeat;
        background-size: cover;
    }
    &--platform-bg {
        margin-bottom: 0;
        background: url("../img/platf-header-bg.jpg") center center no-repeat;
        background-size: cover;
    }
    &--creating-bg {
        margin-bottom: 0;
        background: url("../img/creating-comp-bg.jpg") center center no-repeat;
        background-size: cover;
    }
    &--crm-bg {
        margin-bottom: 0;
        background: url("../img/crm-bg.jpg") center center no-repeat;
        background-size: cover;
    }
    &__top {
        height: 70px;
        line-height: 70px;
        @media #{$mobile} {
            text-align: center;
        }
    }
    &__logo {
        display: inline-block;
        width: 29%;
        line-height: normal;
        vertical-align: middle;
        @media #{$mobile} {
            display: block;
            padding-top: 20px;
            width: auto;
        }
    }
    &__slogan {
        @include rob-light(40px, 42px);
        display: inline-block;
        margin-top: 130px;
        margin-left: 28%;
        color: #fff;
        @media #{$mobile} {
            display: block;
            margin-left: 0;
            text-align: center;
            line-height: 28px;
        }
        &--bigger {
            @include rob-light(50px, 54px);
            margin-left: 0;
            color: #fff;
        }
    }
}