.nav {
    display: inline-block;
    width: 70%;
    line-height: normal;
    vertical-align: middle;
    text-align: right;
    font-size: 0;
    &__list {
        @media #{$mobile} {
            display: none;
        }
    }
    &__item {
        display: inline-block;
        padding: 0 20px;
        border-right: 1px solid #a2c2cd;
        &:last-child {
            margin-right: 0;
            border-right: none;
        }
        &--active {
            border-bottom: 3px solid #000;
        }
    }
    &__link {
        @include rob-reg(13px, 16px);
        padding-bottom: 25px;
        color: #fff;
        &:hover {
            text-decoration: underline;
        }
        &--active {
            border-bottom: 3px solid #9cb4dc;
        }
    }
    &__sub {
        display: none;
        position: absolute;
    }
    &__lang {
        position: relative;
        &::before {
            position: absolute;
            content: '';
            top: 0;
            right: 0;
            width: 16px;
            height: 16px;
            background: url("../img/nav-arr-down.png") 0 0 no-repeat;
        }
    }
}