.news {
    margin: 103px 0 80px;
    border-bottom: 1px solid #e4e5e8;
    @media #{$mobile} {
        margin: 20px 0;
    }
    @media #{$tablet} {
            padding: 0 5px;
        }
    &__header {
        display: inline-block;
        width: 100%;
        text-align: justify;
        &::after {
            content: '';
            display: inline-block;
            width: 100%;
            text-align: justify;
        }
        @media #{$mobile} {
            padding: 0 5px;
        }
    }
    &__name {
        @include rob-reg(30px, 30px);
        display: inline-block;
        color: #2b2d33;
    }
    &__more {
        @include rob-bold(16px, 18px);
        display: inline-block;
        padding: 6px 10px;
        vertical-align: top;
        color: #fff;
        background: #e4e5e8;
        
    }
    &__list {
        margin-bottom: 107px;
        @media #{$mobile} {
            margin-bottom: 20px;
        }
    }
    &__item {
        display: inline-block;
        width: 30%;
        margin-right: 4%;
        text-align: left;
        vertical-align: top;
        &:last-child {
            margin-right: 0;
        }
        @media #{$mobile} {
            margin-right: 0;
            margin-bottom: 20px;
            padding: 0 5px;
            width: auto;
        }
        & p {
        @include rob-reg(14px, 18px);
        color: #8c91a0;
    }
    }
    &__date {
        @include rob-reg(12px, 12px);
        color: #8c91a0;
    }
    &__title {
        margin: 10px 0 0;
        & a {
            @include rob-reg(20px, 22px);
            display: block;
            margin-bottom: 14px;
            color: #3869b8;
        }
    }
    
}