.numbers {
    min-height: 500px;
    text-align: center;
    background-image: linear-gradient(to right, #3c69b9, #7b70c3);
    background-size: cover;
    &__bg {
        width: 100%;
        min-height: 500px;
        background: url("../img/svg-bg.svg") 0 bottom no-repeat;
        @media #{$desktop} {
            background-size: contain;
        }
    }
    & h2 {
        @include rob-light(30px, 32px);
        padding-top: 103px;
        margin: 0 0 93px;
        color: #fff;
        @media #{$mobile} {
            padding-top: 20px;
            margin-bottom: 20px;
        }
    }
    &__list {
        font-size: 0;
    }
    &__item {
        @include rob-light(14px, 18px);
        display: inline-block;
        padding: 0 5px;
        width: 20%;
        height: 120px;
        text-align: center;
        border-right: 1px solid #7983c9;
        vertical-align: top;
        @media #{$mobile} {
            display: block;
            width: auto;
            border: 0;
        }
        &:nth-child(5n) {
            border: none;
        }
    }
    & h3 {
        @include rob-light(60px, 64px);
        padding-bottom: 8px;
        margin: 0;
        color: #fff;
        opacity: .75;
    }
    & p {
        @include rob-reg(16px, 20px);
        color: #fff;
        opacity: .90;
    }
    & span {
        @include rob-light(14px, 18px);
        color: #fff;
        opacity: .50;
    }
}