.our-clients {
        position: relative;
        z-index: 100;
        background: #fff; 
    &__list {
        margin-bottom: 72px;
    }
    text-align: center;
    & h2 {
        @include rob-light(30px, 30px);
        margin: 0 0 63px;
        padding-top: 97px;
        color: #2b2d33;
        @media #{$mobile} {
            padding-top: 30px;
        }
    }
    &__logo {
        display: inline-block;
        margin-right: 1.5%;
        margin-bottom: 33px;
        width: 225px;
        vertical-align: middle;
        &:nth-child(4n) {
            margin-right: 0;
        }
        @media #{$mobile} {
//            display: block;
            margin-right: 0;
        }
        & img {
            opacity: .5;
            transition: all 0.7s;
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            -o-filter: grayscale(100%);
              filter: grayscale(100%);
//              filter: url(grayscale.svg#greyscale); /* Firefox 4+ */
              filter: gray; /* IE 6-9 */
            &:hover {
                opacity: 1;
                -webkit-filter: grayscale(0%);
                -moz-filter: grayscale(0%);
                -ms-filter: grayscale(0%);
                -o-filter: grayscale(0%);
                filter: none;
            }
        }
    }
}