.our-clients {
    text-align: center;
    & h2 {
        @include rob-light(30px, 30px);
        margin: 100px 0 65px;
        color: #2b2d33;
    }
    &__logo {
        display: inline-block;
        margin-right: 5%;
        margin-bottom: 40px;
        &:nth-child(4n) {
            margin-right: 0;
        }
        @media #{$mobile} {
            display: block;
            margin-right: 0;
        }
        & img {
            opacity: .5;
            transition: all 0.7s;
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            -o-filter: grayscale(100%);
              filter: grayscale(100%);
//              filter: url(grayscale.svg#greyscale); /* Firefox 4+ */
              filter: gray; /* IE 6-9 */
            &:hover {
                opacity: 1;
                -webkit-filter: grayscale(0%);
                -moz-filter: grayscale(0%);
                -ms-filter: grayscale(0%);
                -o-filter: grayscale(0%);
                filter: none;
            }
        }
    }
}