.page-descr {
	text-align: center;
    &--binary-indent {
        margin-top: 110px;
    }
    &--mt {
        display: inline-block;
        width: 62%;
        margin: 100px 0 35px;
        @media #{$mobile} {
            margin: 20px 0 20px;
        }
    }
    &--width {
        display: inline-block;
        margin: 0 auto;
        width: 55%;
        line-height: normal;
        vertical-align: middle;
        
    }
    &--left {
        display: inline-block;
        margin-top: 125px;
        width: 50%;
        text-align: left;
        @media #{$mobile} {
            margin-top: 0;
            width: auto;
            text-align: center;
        }
    }
    &--paddingb {
        padding: 100px 0 0;
    }
    &__title {
        @include rob-light(40px, 44px);
        margin-bottom: 20px;
        color: #333333;
        &--white {
            padding-top: 70px;
            color: #fff;
        }
        &--fz-low {
            margin-bottom: 60px;
            font-size: 32px;
        }
        &--smaller {
            @include rob-light(30px, 30px);
            color: #333333;
        }
    }
    & p {
//        @include rob-reg(20px, 20px);
        max-width: 600px;
        margin: 0 auto 20px;
        opacity: .6;
//        color: #fff;
    }
    &__text {
        padding: 0 90px;
        &--white {
            @include rob-light(20px, 20px);
            color: #fff; // ВОПРОС!!!
            opacity: .7;
        }
    }
}