.page-descr {
    & h2 {
//        margin-top: 100px;
        @media #{$mobile} {
            margin-top: 0;
        }
    }
	text-align: center;
    &--binary-indent {
        margin-top: 110px;
        @media #{$mobile} {
            margin-top: 30px;
        }
    }
    &--mt {
        display: inline-block;
        width: 62%;
//        margin: 100px 0 35px;
        @media #{$mobile} {
            margin: 20px 0 20px;
        }
    }
    &--width {
        display: inline-block;
        margin: 0 auto;
        width: 55%;
        line-height: normal;
        vertical-align: middle;
        
    }
    &--left {
        display: inline-block;
//        margin-top: 125px;
        width: 50%;
        text-align: left;
        line-height: normal;
        vertical-align: middle;
        @media #{$mobile} {
            padding: 0 5px;
            margin-top: 0;
            width: auto;
            text-align: center;
        }
        @media #{$tablet} {
            padding: 0 5px;
        }
    }
    &--paddingb {
//        padding: 100px 0 0;
    }
    &__title {
//        @include rob-light(40px, 44px);
//        margin-bottom: 20px;
//        color: #333333;
        &--white {
            margin: 0;
//            padding: 70px 0 15px;
            color: #fff;
            @media #{$mobile} {
                padding-top: 30px;
            }
        }
        &--fz-low {
            @include rob-light(30px, 30px);
            margin-bottom: 60px;
        }
        &--smaller {
            
        }
    }
    &__text {
        @include rob-reg(14px, 18px);
        max-width: 600px;
        margin: 0 auto 20px;
        opacity: .6;
        &--white {
            @include rob-reg(14px, 20px);
            color: #fff; // ВОПРОС!!!
            opacity: .7;
        }
    }
}