.page-header {
    height: 70px;
    line-height: 70px;
    background: #3869b8;
    font-size: 0;
    &__logo {
        display: inline-block;
        width: 30%;
        line-height: normal;
        vertical-align: middle;
    }
}