.page-header {
    height: 70px;
    line-height: 70px;
    background: #3869b8;
    font-size: 0;
    &__logo {
        display: inline-block;
        width: 15%;
        line-height: normal;
        vertical-align: middle;
        @media #{$mobile} {
            display: block;
            padding-top: 20px;
            width: auto;
            text-align: center;
        }
         @media #{$tablet} {
            width: 15%;
        }
    }
}