.platform {
//    margin-bottom: 80px;
    text-align: center;
    & img {
        display: block;
        margin: 0 auto;
    }
    &--bg-fiolet {
        background: #302c38;
    }
    &--bg-img {
        height: 664px;
        background: url("../img/advice-bg.jpg") center -35px no-repeat;
        background-size: cover;
    }
    & p {
        @include rob-reg(16px, 20px);
        color: #000;
    }
}