.platform {
    position: relative;
    z-index: 100;
    text-align: center;
    &__primary {
        position: relative;
        max-width: 760px;
        width: 100%;
        margin: 0 auto;
    }
    &__primary-screen {
        position: absolute;
        left: 5.19%;
        top: 10%;
        width: 89.6%;
        height: 90%;
        & img {
            max-width: 100%;
        }
    }
    &__primary-mob {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    
    & img {
//        position: relative;
        display: block;
        margin: 0 auto;
    }
    
    &--bg-fiolet {
        background: #302c38;
        
    }
    &--bg-img {
        height: 700px;
        line-height: 700px;
        text-align: left;
        background: url("../img/advice-bg.jpg") center -35px no-repeat;
        background-size: cover;
        @media #{$mobile} {
            height: 500px;
            line-height: 0;
            text-align: center;
        }
    }
}

.forex-platform {
	h2 {
        @include rob-light(40px, 44px);
        margin: 95px 0 13px;
        color: #333333;
        @media #{$mobile} {
            padding-top: 30px;
        }
    }
    p {
        @include rob-reg(14px, 20px);
        padding: 0 10px;
        max-width: 600px;
        margin: 0 auto 20px;
        opacity: .6;
    }
}

.binary-platform {
    position: relative;
    z-index: 100;
	h2 {
        @include rob-light(40px, 44px);
        padding: 94px 0 13px;
        color: #fff;
    }
    p {
        @include rob-reg(14px, 20px);
        padding: 0 10px;
        max-width: 600px;
        margin: 0 auto 20px;
        opacity: .6;
        color: #fff;
    }
}
.advice-create {
    position: relative;
    z-index: 100;
    h2 {
        @include rob-light(40px, 44px);
        margin-bottom: 18px;
        color: #fff;
    }
    p {
//        color: #fff;
    }
}
