.platform {
    text-align: center;
    & img {
        display: block;
        margin: 0 auto;
    }
    &--bg-fiolet {
        background: #302c38;
        
    }
    &--bg-img {
        min-height: 700px;
        line-height: 700px;
        text-align: left;
        background: url("../img/advice-bg.jpg") center -35px no-repeat;
        background-size: cover;
    }
}