.request {
    margin-top: 81px;
    margin-left: 14%;
	width: 33%;
    @media #{$mobile} {
        margin-top: 70px;
        margin-left: 0;
        padding: 0 10px;
        width: auto;
    }
    @media #{$tablet} {
        width: 40%;
    }
    & h1 {
        @include rob-light(50px, 50px);
        margin: 0 0 15px;
        color: #fff;
        @media #{$mobile} {
            font-size: 40px;
        }
    }
    & h3 {
        @include rob-light(20px, 29px);
        margin: 10px 0 13px;
        color: #fff;
        @media #{$mobile} {
            font-size: 18px;
            line-height: 21px;
        }
    }
    & p {
        @include rob-light(14px, 21px);
        margin-bottom: 20px;
        color: #fff;
        @media #{$mobile} {
            font-size: 14px;
            line-height: 17px;
        }
    }
    & .btn-wrapper {
        margin-left: 0;
    }
}

// binary request

.binary-request {
    &--pos-right {
//        margin: 140px 0 0 auto;
        float: right;
        margin-top: 87px;
        margin-right: 3.8%;
        max-width: 560px;
        width: 100%;
        @media #{$mobile} {
            text-align: center;
            margin: 50px auto 0;
        }
    }
    & h3 {
        @include rob-light(30px, 36px);
        margin-bottom: 10px;
        color: #fff;
    }
    & h1 {
        @include rob-light(50px, 52px);
        margin: 0 0 19px;
        color: #fff;
    }
    & > .btn-wrapper {
        margin: 0;
        @media #{$mobile} {
            margin: 0 auto;
        }
    }
}