.reward {
    min-height: 300px;
    line-height: 280px;
    text-align: center;
    background: #f4f4f6;
    @media #{$mobile} {
        line-height: normal;
}
    @media #{$tablet} {
        line-height: normal;
        padding-top: 60px;
    }
    &__prize {
        display: inline-block;
    }
    &__list {
        display: inline-block;
        padding-top: 11px;
        font-size: 0;
    }
    &__item {
        @include rob-reg(20px, 20px);
        display: inline-block;
        text-align: left;
        border-left: 1px solid #e4e5e8;
        vertical-align: middle;
        @media #{$mobile} {
            display: block;
            margin: 0 auto;
            text-align: center;
            line-height: none;
            vertical-align: top;
            border: 0;
        }
        &:last-child {
            padding-right: 0;
//            margin-right: 0;
            @media #{$mobile} {
                margin: 0 auto;
                padding: 10px 0;
            }
        }
        &--narrow {
            width: 100px;
            height: auto;
        }
        &--wide {
            width: 240px;
            @media #{$mobile} {
                margin: 0 auto;
            }
        }
        &--width {
            padding: 0 43px;
            width: 240px;
            height: 80px;
            @media #{$mobile} {
                margin: 0 auto;
            }
            @media #{$tablet} {
                width: 260px;
                margin: 10px;
            }
        }
        &--border {
            border-right: 1px solid #e4e5e8;
            border-left: 0;
            @media #{$mobile} {
                border: none;
            }
            @media #{$tablet} {
                border: 0;
            }
        }
    }
    &__block {
        width: 168px;
        height: 80px;
        margin: 0 15px;
        padding-left: 6px;
        &--indent-binary {
            padding-top: 8px;
        }
        &--zero-margin {
            margin-right: 0;
        }
    }
    
    &__img {
        display: inline-block;
        margin-top: -33px;
        margin-right: 30px;
        max-width: 100px;
        max-height: 160px;
        vertical-align: middle;
        @media #{$mobile} {
            display: block;
            margin: 20px auto;
        }
    }
    &__descr {
        display: inline-block;
        margin-right: 30px;
        margin-top: -8px;
        vertical-align: middle;
        line-height: normal;
        text-align: left;
        &--indent {
            margin-right: 27px;
        }
        @media #{$mobile} {
            text-align: center;
            margin-right: 0;
        }
    }
    & h4 {
        @include rob-reg(20px, 27px);
        margin: 0;
        color: #333333;
    }
    & p {
        @include rob-light(14px, 20px);
        color: #8c91a0;
    }
    & strong {
        @include rob-light(40px, 40px);
    }
    & span {
        @include rob-light(14px, 14px);
        color: #8c91a0;
    }
}