.d-table-wrapper {
    max-width: 630px;
    width: 100%;
    border-collapse: collapse;
}

.d-table {
    width: 100%;
    .wrap-check,
    .wrap-radio {
        width: auto;
    }
    @include rob-reg(14px, 40px);
    display: table;
    &__head {
        display: table-row;
        border-bottom: 1px solid #e4e5e8;
        color: #8c91a0;
         @media #{$mobile-sm} {
            display: none;
        }
    }
}

.row {
    display: table-row;
    border-bottom: 1px solid #e4e5e8;
    @media #{$mobile-sm} {
        display: block;
        margin-bottom: 10px;
        border: 1px solid gray;
    }
    &:nth-child(odd) {
        background: #f9f9fb;
    }
    &:hover {
        background: #eff3fb;
    }
}

.cell {
    display: table-cell;
    height: 40px;
    @media #{$mobile-sm} {
        display: block;
        &::before {
            content: attr(data-label);
            display: block;
            float: left;
            padding-left: 10px;
            font-size: 13px;
            text-transform: uppercase;
            color: #8c91a0;
        }
    }
    
    &:nth-child(1) {
        width: 10%;
        text-align: center;
            @media #{$mobile-sm} {
            display: block;
            width: 100%;
            padding: 0 10px;
            text-align: right;
            border-bottom: 1px dotted #a0a0a0;
    }
    }
    &:nth-child(2) {
        width: 18%;
        padding-left: 2%;
        @media #{$mobile-sm} {
            display: block;
            width: 100%;
            padding: 0 10px;
            text-align: right;
            border-bottom: 1px dotted #a0a0a0;
}
    }
    &:nth-child(3) {
        width: 18%;
        padding-left: 2%;
@media #{$mobile-sm} {
            display: block;
            width: 100%;
            padding: 0 10px;
            text-align: right;
            border-bottom: 1px dotted #a0a0a0;
}
    }
    &:nth-child(4) {
        width: 18%;
        padding-left: 2%;
@media #{$mobile-sm} {
            display: block;
            width: 100%;
            padding: 0 10px;
            text-align: right;
            border-bottom: 1px dotted #a0a0a0;
}
    }
    &:nth-child(5) {
        text-align: center;
@media #{$mobile-sm} {
            display: block;
            width: 100%;
            padding: 0 10px;
            text-align: right;
            border-bottom: 1px dotted #a0a0a0;
}
        }
    &:nth-child(6) {
        text-align: center;
@media #{$mobile-sm} {
            display: block;
            width: 100%;
            padding: 0 10px;
            text-align: right;
            border-bottom: 1px dotted #a0a0a0;
}
        }
}