.terminal-versions {
    position: relative;
//    height: 750px;
    text-align: center;
    background: #302c38;
    &::before {
        position: absolute;
        content: '';
        top: 101px;
        left: 0;
        width: 100%;
        height: 2px;
        border-top: 1px solid #4d465a;
    }
    & input {
        display: none;
        &:checked + label {
            color: #fff;
            border-bottom: 4px solid #9289a3;
        }
    }
    & input[id="pc"]:checked ~ .terminal-versions__tabs .terminal-versions__pc,
    input[id="mobile"]:checked ~ .terminal-versions__tabs .terminal-versions__mobile,
    input[id="web"]:checked ~ .terminal-versions__tabs .terminal-versions__web {
        display: block;
    }   
    & label {
        @include rob-light(20px, 20px);
        display: inline-block;
        padding: 48px 0 30px;
        margin: 0 5.2%;
        cursor: pointer;
        color: #c3c2c6;
        background: #302c38;
    }
    &__tabs {
        position: relative;
        & article {
            top: 0;
            left: 0;
            display: none;
            width: 100%;
            @media #{$mobile} {
                padding-top: 20px;
            }
        }
    }
    &__pc {
        & p {
            @include rob-reg(14px, 20px);
            margin: 58px auto 30px;
            width: 38%;
            text-align: center;
            color: #9289a3;
            @media #{$mobile} {
                width: auto;
                margin-top: 30px;
                padding: 0 15px;
            }
        }
    }
    &__pc-img {
        display: block;
        margin: 0 auto;
        margin-top: 62px;
    }
    &__mobile-img {
        display: block;
        margin: 0 auto;
        margin-top: 37px;
        @media #{$mobile} {
            margin-top: 10px;
        }
    }
    &__mobile-screen {
        position: relative;
        max-width: 238px;
        width: 100%;
        margin: 0 auto;
    }
    &__mobile-screen-bg {
            position: absolute;
            top: 7%;
            left: 9%;
            width: 81%;
            
        }
    &__web-img {
        display: block;
        margin: 0 auto;
        margin-top: 80px;
        @media #{$mobile} {
            margin-top: 20px;
        }
    }
    &__mobile {
        & p {
            @include rob-reg(14px, 18px);
            margin: 60px auto 30px;
            width: 38%;
            color: #9289a3;
            @media #{$mobile} {
                width: auto;
                margin-top: 30px;
                padding: 0 15px;
            }
        }
    }
    &__web {
        & p {
            @include rob-reg(14px, 18px);
            margin: 60px auto 30px;
            width: 48%;
            color: #9289a3;
            @media #{$mobile} {
                width: auto;
                margin-top: 30px;
                padding: 0 15px;
            }
        }
    }
}