.term {
    margin-bottom: 100px;
    height: 500px;
    line-height: 500px;
    text-align: center;
	background: url("../img/terms-bg.jpg") 0 0 no-repeat;
    background-size: cover;
    @media #{$mobile} {
        margin-bottom: 20px;
    }
    & h2 {
        @include rob-reg(30px, 36px);
        margin-top: -9px;
        margin-bottom: 10px;
        color: #fff;
    }
    & p {
        @include rob-light(20px, 20px);
        margin-bottom: 20px;
        color: #fff;
        opacity: .75;
    }
}