.timeline-head {
    & h2 {
        @include rob-light(30px, 30px);
        margin: 105px 0 35px;
        color: #333;
        @media #{$mobile} {
            margin: 20px 0 0;
            padding: 0 10px;
        }
    }
}

.timeline {
    &--icon {
        position: relative;
        &::after {
            position: absolute;
            content: '';
            margin-left: -7px;
            bottom: 0;
            left: 50%;
            width: 19px;
            height: 10px;
            background: url("../img/arr-bottom.png") 0 0 no-repeat;
        }
    }
    &--indent {
        padding-bottom: 15px;
    }
    &--ta-left {
        text-align: left;
        @media #{$mobile} {
            text-align: center;
        }
    }
    &--ta-right {
        text-align: right;
        @media #{$mobile} {
            text-align: center;
        }
    }
    &--mt {
        margin-top: -35px;
    }
    &--mt-second {
        margin-top: -150px;
        @media #{$mobile} {
            margin-top: -40px;
        }
    }
    &--mt-third {
        margin-top: -177px;
         @media #{$mobile} {
            margin-top: -40px;
        }
    }
    &--mt-fourth {
        margin-top: -65px;
        @media #{$mobile} {
            margin-top: -25px;
        }
    }
    & > h3 {
        @include rob-light(16px, 16px);
        color: #333333;
    }
    &__item {
        @include rob-reg(14px, 18px);
        position: relative;
        margin-bottom: 10px;
        margin-left: -3px;
        color: #8c91a0;
        &--dot-right {
            position: relative;
            &::after {
            position: absolute;
            content: '';
            top: 3px;
            right: -15px;
            width: 8px;
            height: 8px;
            background: url("../img/dot.png") 0 0 no-repeat;
                @media #{$mobile} {
                    content: none;
                }
            }
        }
        &::before {
            position: absolute;
            content: '';
            top: 3px;
            left: -17px;
            width: 8px;
            height: 8px;
            background: url("../img/dot.png") 0 0 no-repeat;
            @media #{$mobile} {
                    content: none;
                }
        }
    }
}