.toogle-menu {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 900px;
    text-align: center;
    z-index: 9999;
//    background: url("../img/menu-bg.jpg") center center no-repeat;
    background: rgba(0, 0, 0, .8);
    background-size: cover;
    @media #{$mobile} {
        position: fixed;
        height: 100%;
        padding: 10px;
        text-align: center;
        line-height: 0;
    }
    &__scroll {
        @media #{$mobile} {
            overflow-y: scroll;
            height: 100%;
        }
    }
    &__close {
        position: absolute;
        top: -400px;
        right: 47px;
        z-index: 100;
        a {
            img {
                border: none;
            }
        }
        @media #{$mobile} {
            top: 25px;
        }
        img {
            &:hover {
            opacity: .65;
        }
        
        }
    }
    &__wrapper {
        display: inline-block;
        max-width: 600px;
        width: 100%;
        text-align: left;
        line-height: normal;
        vertical-align: middle;
        @media #{$mobile} {
            padding: 15px;
            text-align: center;
        }
        @media #{$tablet} {
            padding: 15px;
        }
    }
    &__product {
        @include rob-light(20px, 20px);
        padding-bottom: 20px;
        color: #fff;
        border-bottom: 1px solid #fff;
        opacity: .60;
    }
    &__service {
        @include rob-light(20px, 20px);
        margin-top: 80px;
        padding-bottom: 20px;
        color: #fff;
        border-bottom: 1px solid #fff;
        opacity: .60;
        @media #{$mobile} {
            margin-top: 30px;
        }
    }
    &__left {
        display: inline-block;
        margin-top: 40px;
        margin-right: 24%;
        vertical-align: top;
        @media #{$mobile} {
            margin-right: 15px;
        }
        @media #{$tablet} {
            margin-right: 20%;
        }
    }
    &__left-down {
        display: inline-block;
        margin-top: 40px;
        margin-right: 20.5%;
        @media #{$mobile} {
            margin-right: 10%;
        }
        @media #{$tablet} {
            margin-right: 15.5%;
        }
    }
    &__right-down {
        display: inline-block;
        margin-top: 40px;
    }
    &__trading {
        position: relative;
        display: block;
        padding-bottom: 20px;
        margin-bottom: 25px;
        border-bottom: 1px solid transparent;
        &:hover {
            border-bottom: 1px solid #767b7e;
        }
        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 60px;
            height: 55px;
            background: url("../img/toogle-menu-ic-1.png") 0 0 no-repeat;
        }
        & h4 {
            @include rob-reg(25px, 25px);
            width: 285px;
            margin: 10px 0 5px;
            padding-left: 80px;
            color: #fff;
        }
        & p {
            @include rob-light(14px, 14px);
            padding-left: 80px;
            color: #fff;
            opacity: .60;
        }
    }
    &__binary {
        position: relative;
        display: block;
        padding-bottom: 20px;
        margin-bottom: 25px;
        border-bottom: 1px solid transparent;
        &:hover {
            border-bottom: 1px solid #767b7e;
        }
        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 60px;
            height: 60px;
            background: url("../img/toogle-menu-ic-2.png") 0 0 no-repeat;
        }
        & h4 {
            @include rob-reg(25px, 25px);
            margin: 10px 0 5px;
            padding-left: 80px;
            color: #fff;
        }
        & p {
            @include rob-light(14px, 14px);
            width: 285px;
            padding-left: 80px;
            color: #fff;
            opacity: .60;
        }
    }
    &__brokerage {
        position: relative;
        display: block;
        padding-bottom: 20px;
        margin-bottom: 25px;
        border-bottom: 1px solid transparent;
        &:hover {
            border-bottom: 1px solid #767b7e;
        }
        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 60px;
            height: 55px;
            background: url("../img/toogle-menu-ic-3.png") 0 0 no-repeat;
        }
        & h4 {
            @include rob-reg(25px, 25px);
            margin: 10px 0 5px;
            padding-left: 80px;
            color: #fff;
        }
        & p {
            @include rob-light(14px, 14px);
            padding-left: 80px;
            color: #fff;
            opacity: .60;
        }
    }
    &__links {
        display: block;
        margin-bottom: 10px;
        border-bottom: 1px solid transparent;
        &:hover {
            border-bottom: 1px solid #767b7e;
        }
        & h3 {
            @include rob-reg(16px, 16px);
            margin: 5px 0;
            color: #fff;
        }
        & span {
            @include rob-light(14px, 14px);
            display: inline-block;
            padding-bottom: 10px;
            cursor: pointer;
            color: #fff;
            border-bottom: 1px solid transparent;
            opacity: .60;
        }
    }
    &__right {
        display: inline-block;
        margin-top: 40px;
        vertical-align: top;
        
    }
    &__service {
        @include rob-light(20px, 20px);
        color: #fff;
        border-bottom: 1px solid #fff;
        opacity: .60;
    }
}