.work-scheme {
    & h2 {
        @include rob-light(30px, 30px);
        margin: 105px 0 57px;
        color: #333333;
        @media #{$mobile} {
            margin-bottom: 20px;
        }
    }
    & .page-descr {
        margin: 100px 0 -1px;
        @media #{$mobile} {
            margin-top: 30px;
        }
    }
    &--zero-mb {
        margin-bottom: 1px;
    }
    &__img {
        display: block;
        margin-bottom: 65px;
        &--zero-mb {
            margin: 0 auto;
        }
    }
}